################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/kafka_ui/.vs/kafka_ui
/kafka_ui/obj
